src/main/resources/scheduled/Job.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="qualified">
	<xsd:element name="jobs" type="Job">
		<xsd:key name="job">
			<xsd:selector xpath="job"></xsd:selector>
			<xsd:field xpath="@className"></xsd:field>
		</xsd:key>
	</xsd:element>

	<xsd:complexType name="Job">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="job">
				<xsd:complexType mixed="true">
					<xsd:attribute name="className" type="xsd:string"
						use="required" />
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>